default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5

development:
  <<: *default
  database: newsie_development

test:
  <<: *default
  database: newsie_test

production:
  <<: *default
  database: newsie_production
  username: newsie
  password: <%= ENV['NEWSIE_DATABASE_PASSWORD'] %>
